<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="#">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/homepage.css" />

    
    <title>ASTRO TAK</title>
  </head>
  <body>
<header >
    <!---Astro tak logo + 2Buttons -->
<div>
    <nav class="navbar navbar-expand-lg navbar-light">   
     <a class="col-5 " href="#"> <img src="../assets/hamburger.png" width="30" height="30" alt=""></a>
        <a class="col-5 " href="#"> <img src="../assets/logo.png" width="80" height="60" alt=""> </a>
        <div class="profile-icon" justify-content-end">
            <a class="col-2" href="#"> <img src="../assets/profile.png" width="30" height="30" alt=""> </a>
           </div>
    </nav>
    
<!---Quotes + Ganesh Ji -->




<div class ="quotes col d-flex justify-content-center ">
   
    <div class="row mb-3">
        <div class="">
            <div class="card">
                <div class="row card-body ">
                    

                    <div class="col d-flex justify-content-end mt-3">     
                                          
                       <p class="card-text"> <p class="card-text">""There is no better boat than <br> to help a man <br>croos over the sea of life ""
                        <br>
                        -Varahamihira
                        </p>
                      </p>
                    </div>
                    <img class="col-6 " src="../assets/ganesha.png " height ="100"  width="60" alt="sans"  justify-content-end float/>
                
                            

                        </div>
                 </div>

            </div>
        </div>

      
   </div>



</header>

<!--- MAIN SECTION   -->
<div class="main mb-3">
<!--- 3 cards  -->
<div class ="banner mb-3">
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-4" >
                <div class="card card-block">Card</div>
            </div>
            <div class="col-4">
                <div class="card card-block">Card</div>
            </div>
            <div class="col-4">
                <div class="card card-block">Card</div>
            </div>
         
           
        </div>
    </div>
</div>


<!----3zodiac cards -->
<div class ="daily-horoscope mb-3">
    <H3>Daily Horoscopes</H3>
 <p>
Read your horoscope based on your sunsign ,select <br> your zodiac sign and give the right start to your day.
</p>
    <div class="container-fluid">
        <div class="row flex-nowrap">
            <div class="col-4" >
                <div class="card card-block">Card</div>
            </div>
            <div class="col-4">
                <div class="card card-block">Card</div>
            </div>
            <div class="col-4">
                <div class="card card-block">Card</div>
            </div>
         
           
        </div>
    </div>
</div>



<!---Talk to astrologer cards  -->

    <div class ="top-3 cards mb-3">
        <h3>Talk to an Astrolger</h3>
    <p>  
    Leading astrologers of India are just a phone call away. <br>Our panel of astrolgers not just provided solutions to your life
    <br>problems but also guide you so that you can take the right<br>
path towards growth and prosperity.</p>
        <div class="container-fluid">

            
            <div class="row flex-nowrap">
               

<div class="card col-4 " style="width: 12rem;">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Cofee Cup Reading.</p>
      <a href="#" class="btn btn-warning">Talk Now</a>
    </div>
  </div>


  <div class="card col-3" style="width: 12rem; ">
    <img class="card-img-top" src="..." alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Cofee Cup Reading.</p>
      <a href="#" class="btn btn-warning">Talk Now</a>
    </div>
  </div>

               
            </div>
        </div>
    </div>
    <!---Reports cards  -->

    <div class ="Reports mb-3">
        <h3>Reports</h3>
    <p>  
    Leading astrologers of India are just a phone call away. <br>Our panel of astrolgers not just provided solutions to your life
    <br>problems but also guide you so that you can take the right<br>
path towards growth and prosperity.</p>
        <div class="container-fluid">
            <div class="row flex-nowrap">
                <div class="col-4" >
                    <div class="card card-block">Card</div>
                </div>
                <div class="col-4">
                    <div class="card card-block">Card</div>
                </div>
                <div class="col-4">
                    <div class="card card-block">Card</div>
                </div>
             
               
            </div>
        </div>
    </div>  
    <!---Ask a questions  -->

    <div class ="ask-a-question mb-3">
        <h5>Ask a Question</h5>
    <p>  
    Leading astrologers of India are just a phone call away. <br>Our panel of astrolgers not just provided solutions to your life
    <br>problems but also guide you so that you can take the right<br>
path towards growth and prosperity.</p>


</div>

<form class ="choose-form">
    <h4>Choose a Category</h4>
    
    <div class="mb-3">
        <select  class="form-select" id ="question">
          <option>Select a category : Love,carrer,more ...</option> 
          
        </select>
      </div>
      
      <nav class="navbar navbar-expand-lg navbar-light">   
        
     <span> ₹99(including GST)</span>

     <span>Ideas what to ask</span>
           <div class="profile-icon" justify-content-end">
                <button type="submit" class="btn btn-warning">Ask a Question </button>
              </div>
       </nav>






 
  </form>

  <div class="container-fluid mb-2">
    <h5>Hear From our Happy Customers!</h5>
    <div class="row flex-nowrap">
        <div class="col-4" >
            <div class="card card-block">Card</div>
        </div>
        <div class="col-4">
            <div class="card card-block">Card</div>
        </div>
        <div class="col-4">
            <div class="card card-block">Card</div>
        </div>
     
       
    </div>
</div>
</div>  <!--Ask a qeustion ends here -->


</div>



<div class="d-flex justify-content-center mb-5">
<div>
&copy; All rights reserved

</div>
</div>
<br> <br><br> <br>






<footer>
    <div class="footer">
    

        <nav class="navbar navbar-expand-lg navbar-light"> 
            <div  class="col-3 ">
             <a href="#"> <img src="../assets/home.png" width="30" height="30" alt=""></a>
              <div> Home</div>
            </div> 
            <div  class="col-3 ">
                <a  href="#"> <img src="../assets/talk.png" width="30" height="30" alt=""></a>
                 <div> Talk to Astrologer</div>
               </div> 
               <div  class="col-3 ">
                <a  " href="#"> <img src="../assets/ask.png" width="30" height="30" alt=""></a>
                 <div> Ask Question</div>
               </div> 
               <div class="col-3">
                <a  href="#"> <img src="../assets/reports.png" width="30" height="30" alt=""></a>
                 <div> Reports</div>
               </div> 
                   
            
           </nav>

      </div>

</footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="../assets/homepage.js"></script> 
  </body>
</html>


