<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="#">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/homepage.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    
    <title>ASTRO TAK</title>
  </head>
  <body>
    <!---Astro tak logo + 2Buttons -->
    <header>
        <!---Astro tak logo + 2Buttons -->
    
        <nav class="navbar navbar-expand-lg navbar-light">   
            <a class="col-5 " href="#"> <img src="../assets/hamburger.png" width="60" height="60" alt=""></a>
               <a class="col-5 " href="#"> <img src="../assets/logo.png" width="120" height="100" alt=""> </a>
               <div class="profile-icon" justify-content-end">
                   <a class="col-2" href="#"> <img src="../assets/profile.png" width="80" height="80" alt=""> </a>
                  </div>
           </nav>
    </header>
    
    
<!---Quotes + Ganesh Ji -->

<div class ="quotes col d-flex justify-content-center row sm-5 row sm-5 mx-5  ">
   
    <div class="row  mx-4" >
   
            <div class="card">
                <div class="row card-body ">
                    

                    <div class="col d-flex justify-content-end mt-3 ">     
                                          
                       <p class="card-text"> <p class="card-text"><span  style="color:blue;"><b>""</b></span>There is no better boat than horospcope to help a man cross over the sea of life <span style="color:blue;"><b>""</b></span>
                        <br>
                       <span style="color:rgb(181, 181, 181); margin-left: 100px;">-Varahamihira<span>
                        </p>
                      </p>
                    </div>
                    <img class="col-6  " src="../assets/ganesha.png " width="80"  height ="200"  alt="sans"  justify-content-end float/>
                

                 </div>

            </div>
        </div>

      
   </div>

<!--- MAIN SECTION   -->
<div class="main mb-3 banner">
<!--- 3 cards  -->
<div class="d-flex flex-row flex-nowrap overflow-auto ">
    <div class="card card-block mx-2" style="min-width: 300px;"><img src="../assets/banner2.png" width="300" height="300" alt=""></div>
    <div class="card card-block mx-2" style="min-width: 300px;"><img src="../assets/banner1.png" width="300" height="300" alt=""></div>
    <div class="card card-block mx-2" style="min-width: 300px;"><img src="../assets/banner1.png" width="300" height="300" alt=""></div>
    <div class="card card-block mx-2" style="min-width: 300px;"><img src="../assets/banner1.png" width="300" height="300" alt=""></div>

         
</div>

<!----3zodiac cards -->

<div class ="daily-horoscope mb-3"></div>

    <h2><b>Daily Horoscopes</b>     <div class ="see-all">See All ></div>
    </h2>

 <p>
Read your horoscope based on your sunsign ,select  your zodiac sign and give the right start to your day.
</p>
<div class="d-flex flex-row flex-nowrap overflow-auto ">
  
    <div class="card  mx-3" style="min-width: 290px;text-align: center;">
    <div> <img src="../assets/aries.png" width="190" height="190" alt=""><div> <p>Aries</p><p> </p> 
     <span> March 21 - April 19 <span></p></div></div>
    </div>
     
    <div class="card  mx-3" style="min-width: 290px;text-align: center;">
        <div> <img src="../assets/aries.png" width="190" height="190" alt=""><div> <p>Aries</p><p> </p> 
         <span> March 21 - April 19 <span></p></div></div>
        </div>
         
    <div class="card  mx-3" style="min-width: 290px;text-align: center;">
        <div> <img src="../assets/aries.png" width="190" height="190" alt=""><div> <p>Aries</p><p> </p> 
         <span> March 21 - April 19 <span></p></div></div>
        </div>
                    
                
    <div class="card  mx-3" style="min-width: 290px;text-align: center;">
        <div> <img src="../assets/aries.png" width="190" height="190" alt=""><div> <p>Aries</p><p> </p> 
         <span> March 21 - April 19 <span></p></div></div>
        </div>
</div>

<!---Talk to astrologer cards  -->

<div class ="cards mb-3">
        <h2><b>Talk to an Astrolger</b> <div class ="see-all">See All ></div></h2>
    <p>  
    Leading astrologers of India are just a phone call away. <br>Our panel of astrolgers not just provided solutions to your life
    <br>problems but also guide you so that you can take the right<br>
path towards growth and prosperity.</p>
<div class="d-flex flex-row flex-nowrap overflow-auto ">

   
        <div class="card  mx-3" style="min-width: 350px;">
            <div> <img src="../assets/arvind.png" width="350" height="300" alt=""> </div>
                <div> 
                <p><b>Arvind Shukala </b>  <span class="see-all"> 4.3 <span>    </p>
                    <p><span  style="color:grey;">Cofee Cup Reading</span></div>
                        <div> 
                            <p>₹500<span class="see-all"> <button type="submit" class="btn btn-warning orange">Ask a Question </button>
                                <span> </p> 
                           </div>

            </div>
        
                 
             
            <div class="card  mx-3" style="min-width: 350px;">
                <div> <img src="../assets/mangal.png" width="350" height="300" alt=""> </div>
                    <div> 
                    <p><b>Arvind Shukala </b>  <span class="see-all"> 4.3 <span>    </p>
                        <p><span  style="color:grey;">Cofee Cup Reading</span></div>
                            <div> 
                                <p>₹500<span class="see-all">  <button type="submit" class="btn btn-warning orange">Ask a Question </button>
                                    <span> </p> 
                               </div>
    
                </div>
                <div class="card  mx-3" style="min-width: 350px;">
                    <div> <img src="../assets/mangal.png" width="350" height="300" alt=""> </div>
                        <div> 
                        <p><b>Arvind Shukala </b>  <span class="see-all"> 4.3 <span>    </p>
                            <p><span  style="color:grey;">Cofee Cup Reading</span></div>
                                <div> 
                                    <p>₹500<span class="see-all">  <button type="submit" class="btn btn-warning orange">Ask a Question </button>
                                        <span> </p> 
                                   </div>
        
                    </div>
                
</div>
</div>

    <!---Reports cards  -->

<div class ="Reports mb-3">
    <h2><b>Reports</b>     <div class ="see-all">See All ></div>

    <p>  
    Leading astrologers of India are just a phone call away. Our panel of astrolgers not just provided solutions to your life
    <br>problems but also guide you so that you can take the right
path towards growth and prosperity.</p>
<div class="d-flex flex-row flex-nowrap overflow-auto">
    <div class="card card-block mx-3" style="min-width: 500px;height: 100%;">
     <div class ="mt-5" style="text-align: center;padding :10px;">
    <img src="../assets/Report 1.png" style="min-width: 500px;"> 
    <div style="background-color:rgba(255, 255, 255, 0.326); position:relative ; margin-top:-90px; height :70px;min-width: 500px;"> 
        <p><span style="float: left; margin-top:9px;color: white; ">₹999/min</span><span class="see-all">  <button type="submit" class="btn btn-warning orange">Buy Now </button>
            <span> </p> 
    </div></div></div>

    <div class="card card-block mx-3" style="min-width: 500px;height: 100%;">
        <div class ="mt-5" style="text-align: center; padding :10px;">
       <img src="../assets/Report 2 .png" style="min-width: 500px;"> 
       <div style="background-color:rgba(129,254,188,0.5); position:relative ; margin-top:-90px;height :70px;min-width: 500px;"> 
           <p><span style="float: left; margin-top:9px;color: white; ">₹999/min</span><span class="see-all">  <button type="submit" class="btn btn-warning orange">Buy Now </button>
               <span> </p> 
       </div></div></div>

       <div class="card card-block mx-3" style="min-width: 500px;height: 100%; height :70px">
        <div class ="mt-5" style="text-align: center; padding :10px;">
       <img src="../assets/Report 3.png" style="min-width: 500px;"> 
       <div style="background-color:rgba(129,254,188,0.5); position:relative ; margin-top:-90px;height :70px ;min-width: 500px;"> 
           <p><span style="float: left; margin-top:9px;color: white; ">₹999/min</span><span class="see-all">  <button type="submit" class="btn btn-warning orange">Buy Now </button>
               <span> </p> 
       </div></div></div>


</div>  
    <!---Ask a questions  -->

 <div class ="ask-a-question mb-3">
        <h2><b>Ask a Question</b> </h2>
    <p>  
    Leading astrologers of India are just a phone call away. Our panel of astrolgers not just provided solutions to your life
    problems but also guide you so that you can take the right
path towards growth and prosperity.</p>

<form class="choose-form">
    <div class="mb-3">
      <select class="form-select" id="question">
        <option> Select a category : Love,carrer,more ...</option>
        <option> Love</option>
        <option> Carrer</option>
        <option> Marriage</option>
      </select>
    </div>
  
    <nav class="navbar navbar-expand-lg navbar-light">
      <!-- edited line -->
      <span class="priceShow"> ₹99(including GST)</span>
      <span>Ideas what to ask</span>
      <div style:"justify-content-end;"   class="profile-icon" >
        <button type="submit" class="btn btn-warning orange">Ask a Question </button>
      </div>
    </nav>
  </form>

</div><!--Ask a qeustion ends here -->



  <div class="container-fluid mb-3">
   <h2><b>Hear From our Happy Customers!</b>     <div class ="see-all">See All ></div>
    </h2>
    <div class="d-flex flex-row flex-nowrap overflow-auto">
        <div class="card card-block mx-3" style="min-width: 500px;">
            
            <span style="color:blue;"><b><I>"</I></b></span>Lorem Ipsum is simply dummy text of the printing 
            and typesetting industry. Lorem Ipsum has been  and typesetting industry. Lorem Ipsum has been 
        <div class ="mt-5" style="text-align: center; background-color: rgb(246, 229, 246);">
        <img src="../assets/profile.png" style="margin-top: -50px;">  <p> Gagan Deep Agarwal<br>  <span style="font-size:20px">Bhopal India </span> </p></div>
        </div>
        <div class="card card-block mx-3" style="min-width: 500px;">
            
            <span style="color:blue;"><b><I>"</I></b></span>Lorem Ipsum is simply dummy text of the printing 
            and typesetting industry. Lorem Ipsum has been  and typesetting industry. Lorem Ipsum has been 
        <div class ="mt-5" style="text-align: center; background-color: rgb(246, 229, 246);">
        <img src="../assets/profile.png" style="margin-top: -50px;">  <p> Gagan Deep Agarwal<br>  <span style="font-size:20px">Bhopal India </span> </p></div>
        </div>
        <div class="card card-block mx-3" style="min-width: 500px;">
            
            <span style="color:blue;"><b><I>"</I></b></span>Lorem Ipsum is simply dummy text of the printing 
            and typesetting industry. Lorem Ipsum has been  and typesetting industry. Lorem Ipsum has been 
        <div class ="mt-5" style="text-align: center; background-color: rgb(246, 229, 246);">
        <img src="../assets/profile.png" style="margin-top: -50px;">  <p> Gagan Deep Agarwal<br>  <span style="font-size:20px">Bhopal India </span> </p></div>
        </div>
        
         
    
    
    </div>  

</div>

</div>  

<div class="d-flex justify-content-center mb-5;>
    <div style="margin-top: 100px;">
  <p> &copy; All rights reserved </p> 

  
     </div>




 <footer >
    <div class="footer ">
    

        <nav class="navbar navbar-expand-lg navbar-light"> 
            <div  class="col-3 ">
             <a href="#"> <img src="../assets/home.png" width="30" height="30" alt=""></a>
              <div> Home</div>
            </div> 
            <div  class="col-3 ">
                <a  href="#"> <img src="../assets/talk.png" width="30" height="30" alt=""></a>
                 <div> Talk to Astrologer</div>
               </div> 
               <div  class="col-3 ">
                <a  " href="#"> <img src="../assets/ask.png" width="30" height="30" alt=""></a>
                 <div> Ask Question</div>
               </div> 
               <div class="col-3">
                <a  href="#"> <img src="../assets/reports.png" width="30" height="30" alt=""></a>
                 <div> Reports</div>
               </div> 
                   
            
           </nav>

      </div>

</footer>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="../assets/homepage.js"></script> 
  </body>
</html>


