<!doctype html>
<html lang="en">
  <head>
    <link rel="shortcut icon" href="#">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/homepage.css" />

    
    <title>ASTRO TAK</title>
  </head>
  <body>
    <!---Astro tak logo + 2Buttons -->
    <header>
        <!---Astro tak logo + 2Buttons -->
    
        <nav class="navbar navbar-expand-lg navbar-light">   
            <a class="col-5 " href="#"> <img src="../assets/hamburger.png" width="50" height="50" alt=""></a>
               <a class="col-5 " href="#"> <img src="../assets/logo.png" width="100" height="80" alt=""> </a>
               <div class="profile-icon" justify-content-end">
                   <a class="col-2" href="#"> <img src="../assets/profile.png" width="50" height="50" alt=""> </a>
                  </div>
           </nav>
    </header>
    
    
<!---Quotes + Ganesh Ji -->

<div class ="quotes col d-flex justify-content-center row sm-5 row sm-5 mx-5  ">
   
    <div class="row sm-5 mx-5" >
   
            <div class="card">
                <div class="row card-body ">
                    

                    <div class="col d-flex justify-content-end mt-3 ">     
                                          
                       <p class="card-text"> <p class="card-text"><span  style="color:blue;"><b>""</b></span>There is no better boat than  to help a man croos over the sea of life <span style="color:blue;"><b>""</b></span>
                        <br>
                       <span style="color:rgb(181, 181, 181); margin-left: 100px;">-Varahamihira<span>
                        </p>
                      </p>
                    </div>
                    <img class="col-6  " src="../assets/ganesha.png " width="80"  height ="200"  alt="sans"  justify-content-end float/>
                

                 </div>

            </div>
        </div>

      
   </div>

<!--- MAIN SECTION   -->
<div class="main mb-3 banner">
<!--- 3 cards  -->
<div class="d-flex flex-row flex-nowrap overflow-auto ">
    <div class="card card-block mx-2" style="min-width: 300px;">Card</div>
    <div class="card card-block mx-2" style="min-width: 300px;">Card</div>
    <div class="card card-block mx-2" style="min-width: 300px;">Card</div>   
    <div class="card card-block mx-2" style="min-width: 300px;">Card</div>            
         
</div>

<!----3zodiac cards -->
<div class ="daily-horoscope mb-3"></div>
    <h3>Daily Horoscopes</h3>
 <p>
Read your horoscope based on your sunsign ,select <br> your zodiac sign and give the right start to your day.
</p>
<div class="d-flex flex-row flex-nowrap overflow-auto">
    <div class="card card-block mx-2" style="min-width: 300px;">Card</div>
    <div class="card card-block mx-2" style="min-width: 300px;">Card</div>
    <div class="card card-block mx-2" style="min-width: 300px;">Card</div>     
    <div class="card card-block mx-2" style="min-width: 300px;">Card</div>            
       
</div>

<!---Talk to astrologer cards  -->

<div class ="cards mb-3">
        <h3>Talk to an Astrolger</h3>
    <p>  
    Leading astrologers of India are just a phone call away. <br>Our panel of astrolgers not just provided solutions to your life
    <br>problems but also guide you so that you can take the right<br>
path towards growth and prosperity.</p>
<div class="d-flex flex-row flex-nowrap overflow-auto">
    <div class="card card-block mx-2" style="min-width: 300px;">Card</div>
    <div class="card card-block mx-2" style="min-width: 300px;">Card</div>
    <div class="card card-block mx-2" style="min-width: 300px;">Card</div>   
    <div class="card card-block mx-2" style="min-width: 300px;">Card</div>            

</div>
</div>

    <!---Reports cards  -->

<div class ="Reports mb-3">
        <h3>Reports</h3>
    <p>  
    Leading astrologers of India are just a phone call away. <br>Our panel of astrolgers not just provided solutions to your life
    <br>problems but also guide you so that you can take the right<br>
path towards growth and prosperity.</p>
<div class="d-flex flex-row flex-nowrap overflow-auto">
    <div class="card card-block mx-2" style="min-width: 300px;">Card</div>
    <div class="card card-block mx-2" style="min-width: 300px;">Card</div>
    <div class="card card-block mx-2" style="min-width: 300px;">Card</div>     
    <div class="card card-block mx-2" style="min-width: 300px;">Card</div>            
       
</div>
</div>  
    <!---Ask a questions  -->

 <div class ="ask-a-question mb-3">
        <h3>Ask a Question</h3>
    <p>  
    Leading astrologers of India are just a phone call away. <br>Our panel of astrolgers not just provided solutions to your life
    <br>problems but also guide you so that you can take the right<br>
path towards growth and prosperity.</p>

<form class ="choose-form">
    <div class="mb-3">
      <select  class="form-select" id ="question">
        <option>Select a category : Love,carrer,more ...</option> 
      </select>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light">   
    <!-- edited line -->
      <span class="priceShow"> ₹99(including GST)</span>
      <span>Ideas what to ask</span>
      <div class="profile-icon" style="justify-content-end">
        <button type="submit" class="btn btn-warning">Ask a Question </button>
      </div>
    </nav>
 </form>

</div><!--Ask a qeustion ends here -->



  <div class="container-fluid mb-2">
    <h3>Hear From our Happy Customers!</h3>
    <div class="d-flex flex-row flex-nowrap overflow-auto">
        <div class="card card-block mx-2" style="min-width: 300px;">Card</div>      
        <div class="card card-block mx-2" style="min-width: 300px;">Card</div>
        <div class="card card-block mx-2" style="min-width: 300px;">Card</div>      
        <div class="card card-block mx-2" style="min-width: 300px;">Card</div>      

    </div>

</div>

</div>  

<div class="d-flex justify-content-center mb-5">
    <div>
    &copy; All rights reserved
     </div>
 </div>






<footer>
    <div class="footer">
    

        <nav class="navbar navbar-expand-lg navbar-light"> 
            <div  class="col-3 ">
             <a href="#"> <img src="../assets/home.png" width="30" height="30" alt=""></a>
              <div> Home</div>
            </div> 
            <div  class="col-3 ">
                <a  href="#"> <img src="../assets/talk.png" width="30" height="30" alt=""></a>
                 <div> Talk to Astrologer</div>
               </div> 
               <div  class="col-3 ">
                <a  " href="#"> <img src="../assets/ask.png" width="30" height="30" alt=""></a>
                 <div> Ask Question</div>
               </div> 
               <div class="col-3">
                <a  href="#"> <img src="../assets/reports.png" width="30" height="30" alt=""></a>
                 <div> Reports</div>
               </div> 
                   
            
           </nav>

      </div>

</footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="../assets/homepage.js"></script> 
  </body>
</html>


