<!doctype html>
<html lang="en">
  <head>
 
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../assets/talk.css" />
    <title>Talk to an  Astrologer</title>
  </head>
  <body>
    
<header>
    <!---Astro tak logo + 2Buttons -->


    <nav class="navbar navbar-expand-lg navbar-light">   
        <a class="col-5 " href="#"> <img src="../assets/hamburger.png" width="30" height="30" alt=""></a>
           <a class="col-5 " href="#"> <img src="../assets/logo.png" width="80" height="60" alt=""> </a>
           <div class="profile-icon" justify-content-end">
               <a class="col-2" href="#"> <img src="../assets/profile.png" width="30" height="30" alt=""> </a>
              </div>
       </nav>
</header>

<!-- Search bar-->
<div class ="search-bar sticky-top">
<ul class="navbar navbar-light bg-light   justify-content-end">
    <a class="navbar-brand" href="#">
      <img src="../assets/search.png" width="30" height="30" alt="">
    </a>
    <a class="navbar-brand" href="#">
        <img src="../assets/filter.png" width="30" height="30" alt="">
      </a>
      <a class="navbar-brand" href="#">
        <img src="../assets/sort.png" width="30" height="30" alt="">
      </a>
</ul>

</div>


<!--- MAIN SECTION   -->
<div class="main mb-3">
<h3>Talk to an Astrologer</h3>

<div class="card flex-row flex-wrap mb-3 ">
    <div class="card-header border-0">
        <img src="//placehold.it/200" width="120" height ="120" alt="">
    </div>
    <div class="card-block px-2">
   
        <span class ="experience mx-10">25 years</span> 
        <h4 class="card-title">Arvind Shukla</h4>  
      
        <p class="card-text">Cofee Cup Reading ,<br>Falit Jyotish,Kundali Grah Dosh,<br>Vastu,Astrology,Vedic Astrology,<br>Palmistry,Numerology,Face<br> Reading,Tarot</p>
        <p class="card-text">English,Hindi</p>
        <p class="card-text"><h5>₹100/Min</p></h5>
        <a href="#" class="btn btn-warning">Talk on Call</a>
    </div>
</div>

<div class="card flex-row flex-wrap mb-3 ">
    <div class="card-header border-0">
        <img src="//placehold.it/200" width="120" height ="120" alt="">
    </div>
    <div class="card-block px-2">
      
        <span class ="experience mx-10">25 years</span> 
        <h4 class="card-title">Arvind Shukla</h4>  
      
        <p class="card-text">Cofee Cup Reading ,<br>Falit Jyotish,Kundali Grah Dosh,<br>Vastu,Astrology,Vedic Astrology,<br>Palmistry,Numerology,Face<br> Reading,Tarot</p>
        <p class="card-text">English,Hindi</p>
        <p class="card-text"><h5>₹100/Min</p></h5>
        <a href="#" class="btn btn-warning">Talk on Call</a>
    </div>
</div>

<div class="card flex-row flex-wrap mb-2 ">
    <div class="card-header border-0">
        <img src="//placehold.it/200" width="120" height ="120" alt="">
    </div>
    <div class="card-block px-2">
        <span class ="experience mx-10">25 years</span> 
        <h4 class="card-title">Arvind Shukla</h4>  
      
        <p class="card-text">Cofee Cup Reading ,<br>Falit Jyotish,Kundali Grah Dosh,<br>Vastu,Astrology,Vedic Astrology,<br>Palmistry,Numerology,Face<br> Reading,Tarot</p>
        <p class="card-text">English,Hindi</p>
        <p class="card-text"><h5>₹100/Min</p></h5>
        <a href="#" class="btn btn-warning">Talk on Call</a>
        
    </div>
</div>



</div>


<div class="d-flex justify-content-center mb-5">
    <div>
    &copy; All rights reserved
    
    </div>
    </div>
 <br> <br><br> <br>


<footer >
    <div class="footer ">
    

        <nav class="navbar navbar-expand-lg navbar-light"> 
            <div  class="col-3 ">
             <a href="#"> <img src="../assets/home.png" width="30" height="30" alt=""></a>
              <div> Home</div>
            </div> 
            <div  class="col-3 ">
                <a  href="#"> <img src="../assets/talk.png" width="30" height="30" alt=""></a>
                 <div> Talk to Astrologer</div>
               </div> 
               <div  class="col-3 ">
                <a  " href="#"> <img src="../assets/ask.png" width="30" height="30" alt=""></a>
                 <div> Ask Question</div>
               </div> 
               <div class="col-3">
                <a  href="#"> <img src="../assets/reports.png" width="30" height="30" alt=""></a>
                 <div> Reports</div>
               </div> 
                   
            
           </nav>

      </div>

</footer>








    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <script src="../assets/talk.js"></script> 

  </body>
</html>


