
 body{
    margin-left:20px;
    margin-top:20px;
    margin-right:20px;
    font-size: 30px;
}


     .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color:rgb(241, 241, 241);
        color: orangered;
        text-align: center;
        font-size: 10px;
      }

      .experience
      {
        display: block;
        float: right;
        font-size: 20px;

      }
      .choose-form option
      {
font-size: 20px;

      }
      
      .see-all{
        float: right; 
        color: orangered;
      }


.choose-form
{
   
    background-color:rgb(246, 229, 246);
    padding: 10px;

}
.orange
{
    background-color:#f78336;
    font-size:30px;
    color:white;

}
 button
{
   
    background-color:#f78336;
    font-size:30px;
    color:white;

}

}

option{
    font-size: 50px;
}



