body {
  margin-left:20px;
  margin-top:20px;
  margin-right:20px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(241, 241, 241);
  color: orangered;
  text-align: center;
}
.experience {
  display: block;
  float: right;
}
.see-all {
  float: right; 
  color: orangered;
}
.choose-form {
  background-color:rgb(246, 229, 246);
  padding: 10px;

}
.orange {
  background-color:#f78336;
  font-size:30px;
  color:white;
}
button {
  background-color:#f78336;
  font-size:30px;
  color:white;
}
option {
  font-size: 10px;
}
select {
  height:50px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  font-size: 40px;
  padding: 10px;
}




